<!DOCTYPE html>
<html>
	<head>
		<title>Some website</title>
	</head>
	<body>
		{{> header}}
		<div>{{capitalize welcomeMessage}}</div>
		<p><a href="/">home</a></p>
		<p><a href="/about">about</a></p>
		{{> footer}}
	</body>
</html>